<a href="https://colab.research.google.com/github/tastiz/api_practice/blob/master/insurance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
from sqlalchemy import create_engine

postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'medicalcosts'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

sql = '''SELECT charges FROM medicalcosts WHERE sex = 'female' AND age BETWEEN 18 and 30 LIMIT 5'''

# Use the connection to execute some SQL
insurance = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

# Process the results
for row in insurance:
  print(row)

insurance.keys()

first_row = rows[0]
#has_key() method returns True or False if a row has a specified key name
print('The first row has a key named `age`: {}'.format(first_row.has_key('age')))
print('The first row has a key named `height`: {}'.format(first_row.has_key('height')))

# Access it by position
bmi = first_row[2]

# Access if by column name
charges = first_row['charges']

print('The first row has a bmi of {} and charges of ${}'.format(bmi, charges))

# Find the total number of rows in the table
row_count = engine.execute('select count(*) from medicalcosts')

# dispose the connection
engine.dispose()

# fetch the first row from the Results
ans = row_count.first()

# print the count
print('There are {} rows in the table'.format(ans['count']))

sql = '''
select 
  count(*) 
from 
  medicalcosts
where 
  sex = 'female' '''

row_count = engine.execute(sql)
engine.dispose()
ans = row_count.first()
print('There are {} females in the table'.format(ans['count']))

sql = '''
select 
  count(*) 
from 
  medicalcosts
where 
  sex = 'female'
  AND age between 18 and 30'''

row_count = engine.execute(sql)
engine.dispose()
ans = row_count.first()
print('There are {} females between 18 and 30 in the table'.format(ans['count']))

sql = '''
select 
  charges 
from 
  medicalcosts
where 
  sex = 'female'
  AND age between 18 and 30'''

charges = engine.execute(sql)
engine.dispose()

rows = charges.fetchall()

# At this point the rows list contain RowProxy objects,
# but we really only need the numeric value so lets extract
# the numeric value into a list of raw numbers

charges = [x['charges'] for x in rows]
print(charges)

(16884.9,)
(4149.74,)
(2198.19,)
(4687.8,)
(3046.06,)
The first row has a key named `age`: True
The first row has a key named `height`: False
The first row has a bmi of 27.9 and charges of $16884.9
There are 1338 rows in the table
There are 662 females in the table
There are 214 females between 18 and 30 in the table
[16884.9, 4149.74, 2198.19, 4687.8, 3046.06, 3393.36, 3556.92, 2211.13, 3579.83, 4133.64, 14711.7, 1743.21, 16577.8, 3947.41, 2755.02, 2026.97, 3766.88, 21344.8, 2331.52, 2404.73, 19107.8, 2257.48, 3385.4, 17081.1, 2457.21, 2155.68, 2166.73, 5138.26, 36149.5, 4830.63, 2719.28, 2855.44, 1631.82, 3981.98, 5325.65, 4922.92, 2130.68, 37133.9, 4337.74, 3392.98, 25081.8, 1727.79, 1615.77, 38511.6, 17085.3, 2150.47, 3172.02, 2156.75, 4349.46, 20177.7, 4151.03, 1737.38, 34838.9, 24671.7, 3561.89, 18955.2, 3554.2, 14133.0, 1607.51, 13844.5, 2597.78, 3180.51, 18034.0, 15006.6, 3176.82, 4618.08, 2138.07, 1631.67, 14455.6, 2134.9, 7323.73, 3167.46, 18804.8, 4906.41, 19522.0, 23288.9, 2201.1, 2203.47, 1744.46, 1622.19, 1748.77, 2196.47, 3044.21, 11482.6, 24059.7, 3056.39, 3213.62, 17878.9, 2801.26, 2128.43, 2219.45, 4753.64, 3206.49, 15359.1, 1633.04, 17469.0, 3558.62, 2207.7, 1880.07, 34439.9, 3736.46, 3366.67, 2709.11, 4466.62, 3410.32, 3943.6, 2585.27, 3578.0, 3201.25, 3500.61, 2020.55, 2457.5, 40932.4, 16657.7, 2217.6, 4234.93, 3925.76, 17748.5, 2731.91, 4719.52, 38792.7, 2136.88, 1877.93, 2842.76, 1621.88, 4719.74, 36021.0, 2974.13, 1875.34, 18218.2, 4391.65, 3392.37, 2690.11, 2585.85, 1634.57, 2117.34, 4564.19, 2473.33, 2913.57, 2217.47, 4527.18, 2730.11, 3353.28, 2527.82, 1759.34, 16796.4, 14571.9, 3378.91, 16420.5, 2709.24, 3987.93, 26019.0, 35595.6, 2020.18, 4137.52, 3161.45, 3594.17, 3353.47, 2480.98, 5708.87, 33907.5, 4561.19, 3227.12, 5312.17, 5693.43, 34166.3, 18903.5, 40904.2, 1728.9, 3176.29, 36898.7, 2261.57, 2203.74, 14426.1, 2459.72, 2200.83, 4529.48, 2154.36, 2899.49, 2850.68, 2632.99, 18328.2, 13126.7, 18838.7, 33307.6, 18223.5, 3956.07, 4718.2, 26125.7, 20167.3, 3238.44, 4296.27, 3171.61, 1633.96, 1880.49, 3021.81, 2741.95, 4189.11, 14283.5, 3732.62, 4340.44, 2710.83, 3208.79, 2464.62, 16115.3, 33900.7, 36397.6, 18765.9, 1731.68, 22395.7, 10795.9, 2205.98, 1629.83, 2007.94]