<a href="https://colab.research.google.com/github/tastiz/api_practice/blob/master/insurance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
from sqlalchemy import create_engine

postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'medicalcosts'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

sql = '''SELECT charges FROM medicalcosts WHERE sex = 'female' AND age BETWEEN 18 and 30 LIMIT 5'''

# Use the connection to execute some SQL
insurance = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

# Process the results
for row in insurance:
  print(row)

insurance.keys()

first_row = rows[0]
#has_key() method returns True or False if a row has a specified key name
print('The first row has a key named `age`: {}'.format(first_row.has_key('age')))
print('The first row has a key named `height`: {}'.format(first_row.has_key('height')))

# Access it by position
bmi = first_row[2]

# Access if by column name
charges = first_row['charges']

print('The first row has a bmi of {} and charges of ${}'.format(bmi, charges))

# Find the total number of rows in the table
row_count = engine.execute('select count(*) from medicalcosts')

# dispose the connection
engine.dispose()

# fetch the first row from the Results
ans = row_count.first()

# print the count
print('There are {} rows in the table'.format(ans['count']))

sql = '''
select 
  count(*) 
from 
  medicalcosts
where 
  sex = 'female' '''

row_count = engine.execute(sql)
engine.dispose()
ans = row_count.first()
print('There are {} females in the table'.format(ans['count']))

(16884.9,)
(4149.74,)
(2198.19,)
(4687.8,)
(3046.06,)
The first row has a key named `age`: True
The first row has a key named `height`: False
The first row has a bmi of 27.9 and charges of $16884.9
There are 1338 rows in the table
There are 662 females in the table