<a href="https://colab.research.google.com/github/tastiz/api_practice/blob/master/insurance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
from sqlalchemy import create_engine

postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'medicalcosts'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

sql = '''SELECT charges FROM medicalcosts WHERE sex = 'female' AND age BETWEEN 18 and 30 LIMIT 5'''

# Use the connection to execute some SQL
insurance = engine.execute(sql)

# no need for an open connection, as we're only doing a single query
engine.dispose()

# Process the results
for row in insurance:
  print(row)

insurance.keys()

first_row = rows[0]
#has_key() method returns True or False if a row has a specified key name
print('The first row has a key named `age`: {}'.format(first_row.has_key('age')))
print('The first row has a key named `height`: {}'.format(first_row.has_key('height')))

# Access it by position
bmi = first_row[2]

# Access if by column name
charges = first_row['charges']

print('The first row has a bmi of {} and charges of ${}'.format(bmi, charges))

# Find the total number of rows in the table
row_count = engine.execute('select count(*) from medicalcosts')

# dispose the connection
engine.dispose()

# fetch the first row from the Results
ans = row_count.first()

# print the count
print('There are {} rows in the table'.format(ans['count']))

sql = '''
select 
  count(*) 
from 
  medicalcosts
where 
  sex = 'female' '''

row_count = engine.execute(sql)
engine.dispose()
ans = row_count.first()
print('There are {} females in the table'.format(ans['count']))

sql = '''
select 
  count(*) 
from 
  medicalcosts
where 
  sex = 'female'
  AND age between 18 and 30'''

row_count = engine.execute(sql)
engine.dispose()
ans = row_count.first()
print('There are {} females between 18 and 30 in the table'.format(ans['count']))

sql = '''
select 
  charges 
from 
  medicalcosts
where 
  sex = 'female'
  AND age between 18 and 30'''

charges = engine.execute(sql)
engine.dispose()

rows = charges.fetchall()

# At this point the rows list contain RowProxy objects,
# but we really only need the numeric value so lets extract
# the numeric value into a list of raw numbers

charges = [x['charges'] for x in rows]
print(charges)

# A simple implementation simply iterating the array
def mean(numbers):
  total_sum = 0;  # initialize the sum to zero
  for n in numbers:
    total_sum += n # add up the numbers in the array
  count = len(numbers)   # find the length of the array
  avg = total_sum / count  # calculate the mean
  return avg  # return the result

print('The mean of the charges is {}'.format(mean(charges)))

import math

def median(numbers):
  numbers.sort()  # sort the list of numbers
  count = len(numbers) # get the length of the array
  isEven = count % 2 == 0 # check if this list is of even length
  
  if (isEven):
    # find the two numbers in the middle of the array
    mid = math.floor( count / 2 )
    a = numbers[mid - 1]
    b = numbers[mid]
    # find the average of these two numbers
    ans = (a + b) / 2
  else:
    ans = numbers[math.floor( count / 2 )]
 
  return ans

print('The median of the charges is {}'.format(median(charges)))

def standard_deviation(numbers):
  X_bar = mean(numbers)
  N = len(numbers)
  total_sum = 0
  for X in numbers:
    diff = X - X_bar
    squared = math.pow(diff, 2)
    total_sum += squared
  sigma = math.sqrt(total_sum / (N - 1))  
  return sigma

print('The standard deviation of the charges is {}'.format(standard_deviation(charges)))

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))



sql = '''
  SELECT COUNT(*) as count, a.actor_id, a.first_name, a.last_name 
  FROM film f 
  JOIN film_actor fa 
  ON f.film_id = fa.film_id 
  JOIN actor a 
  ON a.actor_id = fa.actor_id 
  JOIN film_category fc 
  ON fc.film_id = f.film_id
  JOIN category c
  ON c.category_id = fc.category_id
  WHERE c.name = 'Comedy'
  GROUP BY a.actor_id
  ORDER BY count DESC
'''

results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()

# print some results just to see what we got
for row in rows:
  print(row)

(16884.9,)
(4149.74,)
(2198.19,)
(4687.8,)
(3046.06,)
The first row has a key named `age`: False
The first row has a key named `height`: False

IndexError: ignored